<h1>UserCartItemのページだよーん</h1>
<h1>ショッピングカート</h1>
<% @total_price = 0 %>
<% @cart_items.each do |cart_item| %>
	<%= attachment_image_tag cart_item.item, :item_image, :fill, 250, 250, fallback: "no_image.jpg" %>
	<%= cart_item.item.item_name %>
	<%= cart_item.item.artist.artist_name %>
	<%= form_for(cart_item, url: user_cart_item_path(cart_item.id), method: :patch) do |f| %>
		<p>数量:</p>
		<%= f.number_field :quantity, value: cart_item.quantity, min:1, max:100 %>
		<%= f.submit "数量変更" %>
	<% end %>
	<%= link_to '削除', user_cart_item_path(cart_item.id), method: :delete %>
	<% @total_price += cart_item.item.price * cart_item.quantity.to_i * 1.1 %>
<% end %>
	<h2>商品小計（税込）¥<%= (@total_price).floor %></h2>
	<%= link_to 'ショッピングを続ける', user_items_path %>
	<%= link_to '購入手続きに進む', new_user_user_order_item_path %>

