<h1>UserCartItemのページだよーん</h1>
<h1>ショッピングカート</h1>
<%= @cart_items.each do |cart_item| %>
	<%= attachment_image_tag @item, :item_image, :fill, 250, 250, fallback: "no_image.jpg" %>
	<%= cart_item.item_name %>
	<%= cart_item.item.artist_name %>
	<%= cart_item.item.artist.artist_name %>
	<%= cart_item.item.price * 1.1 %>
	<h1>数量ですけど分かりません</h1>
	<%= link_to '削除', user_cart_items_index_path(cart_item.id), method: :delete %>
<% end %>
	<h2>商品小計（税込）¥<%= @cart_items.item.price %></h2>
	<%= link_to 'ショッピングを続ける', user_cart_items_index_path(cart_item.id) %>
	<%= link_to '購入手続きに進む', user_cart_items_index_path(cart_item.id) %>

