	<%= form_for(@item, url: @url) do |f|%>

		<% if item.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(item.errors.count, "error") %> prohibited this post from being saved:</h2>
				<ul>
					<% item.errors.full_messages.each do |message| %>
					 <il><%= message %></il>
					 <% end %>
				</ul>
			</div>
		<% end %>

	<div class = "row">
		<div class = "col-lg-5">
			<%= attachment_image_tag @item, :item_image, :fill, 150, 150, fallback: "no_image.jpg",size: '150x150' %>
			<label>ジャケット画像の登録</label>
			 <%= f.attachment_field :item_image %>
		</div>


		<div class = "col-lg-5">
			<p><%= f.label :item_name, "シングル/アルバム名" %>:<%= f.text_field :item_name, size:40 %></p>
			<p><%= f.label :artist_name, "アーティスト名" %>:<%= f.collection_select :artist_id, Artist.all, :id, :artist_name, size:50 %></p>
			<p><%= f.label :label_name, "レーベル名" %>:<%= f.collection_select :label_id, Label.all, :id, :label_name, size:50 %></p>
			<p><%= f.label :genre_name, "ジャンル名" %>:<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, size:50 %></p>
			<p><%= f.label :price, "商品価格(税抜)" %>:<span>¥</span><%= f.text_field :price, size:10 %></p>
	  </div>
	</div><!-- row_end -->

		<div>
			<%= f.label :introduction, "商品説明" %>
			<br>
			<%= f.text_area :introduction, size:"100x3" %>
	    </div>


	    <div>
	      <h4>曲名一覧</h4>

		    <div class="items">
					<%= f.fields_for :discs do |disc| %>
						<%= render "disc_fields", f: disc %>
					<% end %>
				<div class="links">
					<%= link_to_add_association "ディスクを追加", f, :discs %>
				</div>
			</div>

			<div class="actions">

				<%= f.submit @moji %>
			</div>
		</div>

	<% end %>

