<h1>Adminの::Items#show</h1>
<div class = "container" >
	<%= attachment_image_tag @item, :item_image, :fill, 250, 250, fallback: "no_image.jpg" %>
	<div = item_box>
		<h1><%= @item.item_name %></h1>

		<div = item_info>
			<%= @item.artist.artist_name %>
			<%= @item.genre.genre_name %>
			<%= @item.label.label_name %>
		</div>

		<%= number_to_currency(@item.price) %>

		<h3>販売中</h3>
		<h3>在庫数：<%= @item.stock %></h3>
		<h3><%= link_to "商品を編集する", edit_admin_item_path(@item.id) %></h3>
		<h3><%= link_to "商品を削除する", admin_item_path(@item.id), method: :delete %></h3> 
	</div>

	<div class = "item_introduction">
			<h3>商品説明：</h3><br>
			<%= @item.introduction %>
	</div>
	<div class = "item_songs">
		<table>
			<% @item.discs.each  do |disc| %>
				<tr>
					<td>Disc<%= disc.disc_number %></td>
						<% disc.songs.each  do |song| %>
							<tr>
								<td><%= song.song_number%></td>
								<td><%= song.song_name %></td>
							</tr>
						<% end %>
				</tr>
			<% end %>
		</table>
	</div>

	<% @reviews.each do |review| %>
		<%= link_to admin_user_reviews_path(review.user.id) do %>
			<p><%= review.user.last_name %><%= review.user.first_name %>さんのレビュー</p>
		<% end %>
		<% link_to "編集", edit_admin_item_review_path(@item.id) %>
		<%= review.review_body %>
	<% end %>
	<h1>レビューをもっと読む</h1>
	<%= paginate @reviews, class: "paginate" %>
</div>

