<h1>Admin::Items#show</h1>

<%= attachment_image_tag @item, :item_image, size:"200x200", format:"jpeg", fallback: "no_image.jpag" %>
<div = item_box>
	<h1><%= item.item_name %></h1>

	<div = item_info>
		<%= @item.artist.artist_name %>
		<%= @item.genre.genre_name %>
		<%= @item.label.label_name %>
	</div>

	<%= @tax_price %>

	<% if @item.stock >= 10 %>
		<h3>在庫あり</h3>
	<% elsif @item.stock == 0%>
		<h3>在庫なし</h3>
	<% else %>
		<h3>在庫僅か</h3>
	<% end %>
<<<<<<< HEAD
	<%= form_for @cart_item do |f| %>
        <%= f.hiddin_field :quantity, value: 1 %>
        <%= f.submit ‘カートに入れる’ %>
    <% end %>
=======
	<h3>カートに入れる</h3>
>>>>>>> b3929e532b7ba2906ebd271bea9cf82334691810
	<h4>お気に入りに追加</h4>
</div>

<div = item_introduction>
	<h3>商品説明：</h3><br>
	<%= @item.introduction %>
</div>
<div = item_songs>
	<table>
		<% @item.disc.each |disc| do %>
			<td>
				<% disc.songs.each |song| do %>
				<% end %>
			</td>
		<% end %>
	</table>
</div>
<h3>レビューフォーム</h3>
<%= form_for [@item, @review] do |f| %>
<%= f.text_area :review_body %>
<%= f.submit '送信' %>