<h1>ユーザーの::Items#show</h1>
<% if @review.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@review.errors.count, "error") %> prohibited this post from being saved:</h2>
		<ul>
			<% @review.errors.full_messages.each do |message| %>
			 <il><%= message %></il>
			 <% end %>
		</ul>
	</div>
<% end %>

<div class = "container" >
	<%= attachment_image_tag @item, :item_image, :fill, 250, 250, fallback: "no_image.jpg" %>
	<div = item_box>
		<h1><%= @item.item_name %></h1>

		<div = item_info>
			<%= @item.artist.artist_name %>
			<%= @item.genre.genre_name %>
			<%= @item.label.label_name %>
		</div>

		<%= number_to_currency(@tax_price) %>

	<% if @item.stock >= 10 %>
	        <h3>在庫あり</h3>
	    <% elsif @item.stock == 0%>
	        <h3>在庫なし</h3>
	    <% else %>
	        <h3>在庫僅か</h3>
	    <% end %>

	<% if @item.stock > 0 && current_user %>
		<%= form_for(@cart_item, url: user_cart_items_path, method: :post) do |f| %>
			<%= f.hidden_field :quantity, value: 1 %>
			<%= f.hidden_field :id, value: @item.id %>
			<%= f.submit 'カートに入れる' %>
		<% end %>
	<% end %>
		<% if user_signed_in? %>
						<% if @item.favorited_by?(current_user) %>
						    <%= link_to user_item_favorites_path(@item), method: :delete do %>
						      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						      <%= @item.favorites.count %>
						    <% end %>
						<% else %>
						    <%= link_to user_item_favorites_path(@item), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						      <%= @item.favorites.count %>
						    <% end %>
						<% end %>
					<% else %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
				        <%= @item.favorites.count %>
					<% end %>
	</div>

	<div class = "item_introduction">
			<h3>商品説明：</h3><br>
			<%= @item.introduction %>
	</div>
	<div class = "item_songs">
		<table>
			<% @item.discs.each  do |disc| %>
				<tr>
					<td>Disc<%= disc.disc_number %></td>
						<% disc.songs.each  do |song| %>
							<tr>
								<td><%= song.song_number%></td>
								<td><%= song.song_name %></td>
							</tr>
						<% end %>
				</tr>
			<% end %>
		</table>
	</div>

	<h3>レビューフォーム</h3>
	<%= form_for [@item, @review], url: user_item_reviews_path(item_id: @item.id) do |f| %>
	<%= f.text_area :review_body %>
	<%= f.submit '送信' %>
	<% end %>

	<% @reviews.each do |review| %>
		<%= link_to user_user_reviews_path(review.user.id) do %>
			<p><%= review.user.last_name %><%= review.user.first_name %>さんのレビュー</p>
		<% end %>
		<% if review.user == current_user %>
			<%= link_to "編集", edit_user_item_review_path(@item.id, review.id) %>
			<%= link_to "削除", user_item_review_path(@item.id, review.id), method: :delete %>
		<% end %>
		<%= review.review_body %>
	<% end %>
	<%= paginate @reviews, class: "paginate" %>
</div>