<h4>購入履歴一覧</h4>
<div class="top-link"><%= link_to 'マイページへ戻る' %></div>


<% @orders.each do |order| %>
<div class="user-order-item">
	<div>
		<p class="order-date"><%= l order.created_at, format: :short %></p>
	</div>

	<div class="order-product row">
		<div class="order-items col-lg-9">
		 <% order.order_items.each do |order_item| %>
			<div class="order-item col-lg-12">
				<div class="col-lg-3">
					<p>
						<%= attachment_image_tag order_item.item, :item_image, :fill, 140, 140, fallback: "no_image.jpg" %></p>
				</div>
				<div class="order-item-text col-lg-3">
					<p><%= order_item.item.item_name %></p>
						<p><%= order_item.item.artist.artist_name %></p>
				</div>
				<div class="order-item-text col-lg-2">
					<p>価格(税込)<br><%= number_to_currency(order_item.item.price) %></p>
				</div>
				<div class="order-item-text col-lg-2">
					<p><%= order_item.quantity %>枚</p>
				</div>
				<div class="order-item-text col-lg-2">
					<p><%= order.delivery_status %></p>
				</div>
			</div>
		  <% end %>
		</div>

		<div class="order-date-link col-lg-3">
	  		<%= link_to user_day_bought_items_path(order.id) do %>
					<p><%= l order.created_at, format: :short %>の購入詳細履歴</p>
		    <% end %>
		</div>
	</div>
</div>
<% end %>

	<%= paginate @orders, class: "paginate" %>

</div>

