<h4>購入履歴一覧</h4>
<div class="row clearfix">

	<% @orders.each do |order| %>
		<p><%= l order.created_at, format: :short %></p>

			<% order.order_items.each do |order_item| %>
			  <div>
					<p><%= attachment_image_tag order_item.item, :item_image, :fill, 200, 200, fallback: "no_image.jpg" %></p>
					<p><%= order_item.item.item_name %></p>
					<p><%= order_item.item.artist.artist_name %></p>
					<p>価格(税込)：<%= number_to_currency(order_item.item.price) %></p>
					<p>枚数：<%= order_item.quantity %>枚</p>
					<p><%= order.delivery_status %></p>
			  </div>
  			<% end %>

  			<div>
  				<%= link_to user_day_bought_items_path(order.id) do %>
			      <p><%= l order.created_at, format: :short %>の購入詳細履歴</p>
			    <% end %>
  			</div>

	<% end %>

	<%= paginate @orders, class: "paginate" %>

</div>

