<h1>AdminのユーザーNO!!!レビュー編集ページDESU!!!</h1>

<h2><%= @review.item.item_name %>のレビュー編集</h2>

<%= form_for [@item, @review], url: admin_item_review_path, method: :patch do |f| %>
	<table>
		<thead>
			<tr>
				<th>レビュアー</th>
				<th></th>
				<th>
					<%= @review.user.last_name %><%= @review.user.first_name %>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>レビュー内容</td>
				<td></td>
				<td>
					<%= f.text_area :review_body %>
				</td>
			</tr>
		</tbody>
	</table>
	<%= f.submit "更新", class: "btn btn-lg btn-primary" %>
<% end %>