
<div class= "back_box clearfix">
	<h4><%= link_to "購入履歴一覧に戻る", admin_orders_path, class: "back" %></h4>
</div>

<h4><%= @order.user.last_name + @order.user.first_name %>さんの<%= l @order.created_at, format: :short %>日の注文の詳細</h4>
<div class = "row">
			<div class= "col-lg-3">
				<h4>お届け先住所</h4>
				<h4><%= @order.user.last_name + @order.user.first_name %></h4>
				<h4><%= @order.delivery_postal_code %></h4>
				<h4><%= @order.delivery_adress %></h4>
			</div>

			<div class= "col-lg-3">
				<h4>支払方法</h4>
				<h4><%= @order.payment_methods %></h4>
			</div>

			<div class= "col-lg-2">
				<div><h4>購入明細</h4></div>
				<h4>商品の小計 :</h4>
				<h4>配送料 :</h4>
				<h4>ご請求額 :</h4>
			</div>
			<div class="order_price">
				<h4></h4>
				<p></p>
				<h4><%= number_to_currency(@order.total_price - @order.shipping_fee) %></h4>
				<h4><%= number_to_currency(@order.shipping_fee) %></h4>
				<h4><%= number_to_currency(@order.total_price) %></h4>
			</div>
</div>

<h4><%= l @order.created_at, format: :short %></h4>
<% @orders.each do |order_item| %>
	<table border="1">
			<tr>
				<td><%= link_to user_item_path(order_item) do %>
					<%= attachment_image_tag order_item.item, :item_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
					<% end %>
				</td>
				<td><%= link_to "#{order_item.item.item_name}", admin_item_path(order_item.item) %></td></td>
				<td><%= order_item.item.artist.artist_name %></td>
				<td><p>価格（税抜）：</p><%= number_to_currency(order_item.item.price) %></td>
				<td>数量:<%= order_item.quantity %></td>
				<td><%= order_item.order.delivery_status %></td>
			</tr>
	</table>
<% end %>