
<div class= "back_box clearfix">
	<h4><%= link_to "ユーザー別の購入履歴一覧に戻る", admin_bought_items_path(@order.user.id), class: "back" %></h4>
</div>

<h4 class="order_name"><%= @order.user.last_name + @order.user.first_name %>さんの
	<%= @order.created_at.strftime('%Y/%m/%d') %>の注文の詳細</h4>

<div class = "row">
	<div class= "col-lg-3">
		<h4>お届け先住所</h4>
		<h4><%= @order.user.last_name + @order.user.first_name %></h4>
		<h4><%= @order.delivery_postal_code %></h4>
		<h4><%= @order.delivery_adress %></h4>
	</div>

	<div class= "col-lg-3">
		<h4>支払方法</h4>
		<h4><%= @order.payment_methods %></h4>
	</div>

	<div class= "col-lg-2">
		<div><h4>購入明細</h4></div>
		<h4>商品の小計(税込) :</h4>
		<h4>配送料 :</h4>
		<h4>ご請求額(税込) :</h4>
	</div>
	<div class="order_price">
		<h4></h4>
		<p></p>
		<h4><%= number_to_currency(@order.total_price - @order.shipping_fee )%></h4>
		<h4><%= number_to_currency(@order.shipping_fee) %></h4>
		<h4><%= number_to_currency(@order.total_price) %></h4>
	</div>
</div>

<div class="user-order-item">
	<div>
		<p class="order-date"><%= l @order.created_at, format: :short %></p>
	</div>

	<div class="order-product row">
		<div class="order-items col-lg-9">
		<% @order.order_items.each do |order_item| %>
			<div class="order-item col-lg-12">
				<div class="col-lg-3">
					<p><%= attachment_image_tag order_item.item, :item_image, :fill, 140, 140, fallback: "no_image.jpg" %></p>
				</div>
				<div class="order-item-text col-lg-3">
					<p><%= order_item.item.item_name %></p>
					<p><%= order_item.item.artist.artist_name %></p>
				</div>
				<div class="order-item-text col-lg-2">
					<p>価格(税込)<br><%= number_to_currency(order_item.item.price * 1.1) %></p>
				</div>
				<div class="order-item-text col-lg-2">
					<p><%= order_item.quantity %>枚</p>
				</div>
				<div class="order-item-text col-lg-2">
					<p><%= @order.delivery_status %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>
