
<h1>ユーザーの注文一覧</h1>

<% @users.each do |order| %>
    <%= link_to "ユーザーの注文詳細画面のリンク" do %>
		<table border="1">
				<tr>
					<td><%= l order.created_at, format: :short %></td>
					<td><%= order.last_name + order.first_name %></td>
					<td><%= order.email %></td>
					<td><%= order.phone_number %></td>
				</tr>
		</table>
    <% end %>
<% end %>

<%= paginate @users, class: "paginate" %>