
<h1>ユーザーの注文一覧</h1>

<% @orders.each do |order| %>

    <%= link_to admin_bought_items_path(order.user.id) do %>
    	<%= "ユーザーの注文詳細画面のリンク" %>
    <% end %>
		<table border="1">
				<tr>
					<td><%= l order.created_at, format: :short %></td>
					<td><%= order.user.last_name + order.user.first_name %></td>
					<td><%= order.user.email %></td>
					<td><%= order.user.phone_number %></td>
				</tr>
		</table>
    <% end %>

<%= paginate @orders, class: "paginate" %>