<h4>お問い合わせ一覧</h4>
<div class="top-link"><%= link_to 'トップへ戻る', admin_home_top_path %></div>

<div class="row clearfix">
	<div class="col-lg-9">
		<div class="col-lg-3">
			<p><b>お問い合わせ日時</b></p>
		</div>
		<div class="col-lg-2">
			<p><b>お名前</b></p>
		</div>
		<div class="col-lg-2">
			<p><b>メールアドレス</b></p>
		</div>
		<div class="col-lg-2">
			<p><b>電話番号</b></p>
		</div>
		<div class="col-lg-2">
			<p><b>ステータス</b></p>
		</div>
	</div>
</div>

<div class="row clearfix">
	<% @contacts.each do |contact| %>
		<%= link_to admin_contact_path(contact) do %>
		  <div class="admin-users col-lg-9 clearfix">
		  	<div class="admin-user col-lg-3 user-text">
		  		<p><%= l contact.created_at, format: :short %></p><!--1メソッドを追加する事で日時を日本人向けに表示出来る-->
		  	</div>
		  	<div class="admin-user col-lg-2 user-text">
		  		<p><%= contact.last_name + contact.first_name %></p>
		  	</div>
		  	<div class="admin-user col-lg-2 user-text">
		  		<p><%= contact.email %></p>
		  	</div>
		  	<div class="admin-user col-lg-2 user-text">
		  		<p><%= contact.phone_number %></p>
		  	</div>
		  	<div class="admin-user col-lg-2 user-text">
		  		<p><%= contact.status %></p>
		  	</div>
		  </div>
		<% end %>
    <% end %>
    </div>
</div>
<%= paginate @contacts, class: "paginate" %>