
<h1>お問い合わせ一覧</h1>

<% @contacts.each do |contact| %>
    <%= link_to admin_contact_path(contact) do %>
		<table border="1">
				<tr>
					<td><%= l contact.created_at, format: :short %></td><!--1メソッドを追加する事で日時を日本人向けに表示出来る-->
					<td><%= contact.last_name + contact.first_name %></td>
					<td><%= contact.email %></td>
					<td><%= contact.phone_number %></td>
					<td><!--応対済み--></td>
				</tr>
		</table>
    <% end %>
<% end %>

<%= paginate @contacts, class: "paginate" %>