
<h1>お問い合わせ詳細</h1>

	<table border="1">
			<tr>
				<td><%= l @contact.created_at, format: :short %></td>
				<td><%= @contact.last_name + @contact.first_name %></td>
				<td><%= @contact.email %></td>
				<td><%= @contact.phone_number %></td>
			</tr>
			<tr>
				<td><%= @contact.contact_body %></td>
			</tr>
	</table>

  <% if @contact.status == "processing"  %>
	<%= button_to "未対応", {controller: 'admin/contacts', action: 'update'}, {method: :patch} %>
  <% else %>
	<%= button_to "応対完了", {controller: 'admin/contacts', action: 'update'}, {method: :patch} %>
  <% end %>