<h1>ユーザー別のレビュー一覧ページだよーん</h1>
<h1><%= @user.last_name %><%= @user.first_name %>さんのレビュー</h1><h2>レビュー一覧</h2>
<table class="table table-striped">
	<% @reviews.each do |review| %>
		<thead>
			<tr>
				<th>
					<p><%= l review.created_at, format: :short %></p>
				</th>
				<th>
					<%= link_to user_item_path(review.item.id) do %>
						<%= review.item.item_name %>
					<% end %>
				</th>
				<th>
					<%= link_to "編集する", edit_user_item_review_path(review.item.id) %>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<%= review.review_body %>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>
