
<p><%=link_to "商品の一覧", "" %></p>
<p><%=link_to "商品新規追加", "admin_items_new_path" %></p>
<p><%=link_to "入荷履歴", "" %></p>
<p><%=link_to "ユーザー一覧", "" %></p>
<p><%=link_to "アーティスト、レーベル、ジャンル登録", "" %></p>
<p><%=link_to "お問い合わせ一覧", "" %></p>