
<p><%=link_to "商品の一覧", admin_items_path %></p>
<p><%=link_to "商品新規追加", new_admin_item_path %></p>
<p><%=link_to "入荷履歴", admin_arrivals_index_path %></p>
<p><%=link_to "ユーザー一覧", admin_users_path %></p>
<p><%=link_to "アーティスト登録", new_admin_artist_path %></p>
<p><%=link_to "レーベル登録", new_admin_label_path %></p>
<p><%=link_to "ジャンル登録", new_admin_genre_path %></p>
<p><%=link_to "お問い合わせ一覧", admin_contacts_path %></p>