
<h2><%= @review.item.item_name %></h2>
<div class="row">
	<%= form_for [@item, @review], url: user_item_review_path, method: :patch do |f| %>
		<div class= "col-lg-3">
			<h3>レビュアー</h3>
			<h3 class= "">レビュー内容</h3>
		</div>
		<div class="col-lg-6">
			<h3><%= @review.user.last_name %><%= @review.user.first_name %></h3>
			<%= f.text_area :review_body, size: "15x10", class: "form-control" %>
		</div>
		<div class="col-lg-6">
			<div><h1><%= f.submit "更新", class: "btn btn-lg btn-primary" %></h1></div>
		</div>
	<% end %>
</div>
