<div class ="container">
<h2><%= @user.last_name + @user.first_name %>さん編集ページ</h2>
<%= form_for(@user, url:admin_user_path, method: :patch ) do |f| %>

<p class="registrations-headline">お名前</p>
  <div class="field">
  <%= f.label :姓 %><br />
  <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "name" %>
  </div>

  <p class="registrations-headline">お名前(カタカナ)</p>
  <div class="field">
    <%= f.label :姓 %><br />
    <%= f.text_field :last_name_ruby, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name_ruby, autofocus: true, autocomplete: "name" %>
  </div>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

    <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

     <div class="field">
          <%= f.fields_for :deliveries do |delivery| %>
            <%= render "delivery_fields", f: delivery %>
          <% end %>
        <div class="links">
          <%= link_to_add_association "配送先を追加", f, :deliveries %>
        </div>
     </div>

    <div class="actions">
    <%= f.submit "編集" %>
  </div>
<% end %>
</div>

