
<table class="user-index">
    <thead>
	    <tr>
	    	<th>登録日時</th>
	    	<th>お名前</th>
	    	<th>メールアドレス</th>
	    	<th>住所</th>
	    </tr>
	</thead>
	<tbody>
    <% @users.each do |user| %>
        <tr>
        	<td><%= l user.created_at, format: :short %></td>
        	<td><%= user.last_name %></td>
    		<td><%= user.email %></td>
    		<td><%= link_to '登録住所一覧', admin_user_path(user) %></td>
    	</tr>
	<% end %>
	</tbody>
</table>

<%= paginate @users, class: "paginate" %>