<h4><%= @user.last_name %><%=@user.first_name %>さんの登録住所一覧</h4>
<div class="top-link"><%= link_to 'ユーザー一覧へ戻る', admin_users_path %></div>

<div class="row clearfix">
    <div class="col-lg-7">
        <div class="col-lg-4">
            <p><b>郵便番号</b></p>
        </div>
        <div class="col-lg-4">
            <p><b>住所</b></p>
        </div>
        <div class="col-lg-4">
            <p><b>電話番号</b></p>
        </div>
    </div>
</div>

<div class="row clearfix">
    <% @user.deliveries.each do |delivery| %>
      <div class="admin-users col-lg-7 clearfix">
        <div class="admin-user col-lg-4 user-text">
            <p><%= delivery.delivery_postal_code %></p>
        </div>
        <div class="admin-user col-lg-4 user-text">
            <p><%= delivery.delivery_address %></p>
        </div>
        <div class="admin-user col-lg-4 user-text">
            <p><%= @user.phone_number %></p>
        </div>
      </div>
    <% end %>
</div>
