
<h1><%= @user.last_name %><%=@user.first_name %>さんの登録住所一覧</h1>

<table>
    <thead>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
        </tr>
    </thead>
    <tbody>
        <% @user.deliveries.each do |delivery| %>
        <tr>
				<td><%= delivery.delivery_postal_code %></td>
				<td><%= delivery.delivery_address %></td>
    	</tr>
        <% end %>
　　　</tbody>
<table>

<div>
    <p>電話番号</p>
    <p><%= @user.phone_number %></p>
</div>