<h2>入荷履歴</h2>

<% @arrivals.each do |ariival| %>
	<div>
		<ul>
			<li>入荷日<%= arrival.created_at.strftime('%Y/%m/%d') %></li>
		    <li><%= attachment_image_tag arrival.item, :item_image, :fill, 60, 60, fallback: "no_image.jpg" %></li>
		    <li><%= arrival.item.item_name %></li>
			<li><%= arrival.item.artist.artist_name %></li>
			<li>数量:<%= arrival_number %></li>
			<li>価格(税抜):¥<%= item.price %></li>
		<ul>
	</div>
<% end %>