<h2>決済確定ページ</h2>

<%= form_for(@order_item, url:user_order_items_path, method: :post ) do |u| %>

<%= u.submit %>

<div>
	<div>
		<p>お届け先</p>
		<% @user.deliveries.each do |f| %>
			<label>
				<%= f.radio_button :delivery_id, :f.id, checked: "checked" %>
			    <%= deliveries.delivery_postal_code %>
			    <%= deliveries.delivery_address %>
			    <%= deliveries.delivery_phone_number %>
			<label>
		<% end %>

	</div>
	<div>
		<% @cart_items.each do |cart_item| %>
			<p>商品の小計:¥<%= cart_item.price %>(税込)</p>
		<% end %>
		<p>配送料:¥<%= @shipping_fee %></p>
		<p>ご請求額:<%= cart_item.price * cart_item.quantity + @shipping_fee %></p>
	</div>
</div>

<div>
	<h3>支払い情報</h3>
	<p>クレジットカード　visa下4桁 XXXX</p>
</div>


<div>
	<% @order_items.cart_items.each do |cart_item| %>
	 	<p><%= attachment_image_tag cart_item.item, :item_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
		<p><%= cart_item.item.item_name %></p>
		<p><%= cart_item.item.artist.artist_name %></p>
		<p>価格(税込)¥<%= cart_items.items.price %></p>
		<p>数量:<%= cart_item.quantity %></p>
		<p>削除</p>
	<% end %>
</div>


<div>
	<h3>お支払い方法</h3>
	<ul>
		<li>銀行振込</li>
		<li>代引き</li>
		<li>クレジットカード
			<ul>
				<li>カード番号(ハイフンなし)</li>
				<li>半角スペースにご注意ください</li>
				<li>有効期限</li>
			</ul>
		</li>
	</ul>
</div>



<% end %>

