<!DOCTYPE html>
<html>
  <head>
    <title>CosmoRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track':'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
  </head>

  <body>
   <header>

 <% if request.path_info.include?('user') %>
 <div class="user-header">
   <%= link_to 'logo', user_path %>
   <ul class="nav-list clearfix">
         <% if user_signed_in? %>
           <li class="nav-list-item">
             <%= link_to "ユーザー名: #{current_user.last_name} #{current_user.first_name}", user_users_favorites_path(current_user) %>
           </li>
           <li class="nav-list-item">
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
           </li>
           <li class="nav-list-item">
             <%= link_to "お問い合わせ", new_user_contact_path %>
           </li>
           <li class="nav-list-item">
             <a><%= link_to user_user_cart_item_list_path(current_user) do %>
             <span class="glyphicon glyphicon-shopping-cart"></span> ショッピングカート
             <% end %></a>
           </li>
         <% else %>
           <li class="nav-list-item">
             <%= link_to "ログイン", new_user_session_path %>
           </li>
           <li class="nav-list-item">
             <%= link_to "新規会員登録", new_user_registration_path %>
           </li>
           <li class="nav-list-item">
            <%= link_to "お問い合わせ", new_user_contact_path %>
           </li>
         <% end %>
       </ul>
         <%= form_tag user_item_search_path, method: 'get' do %>
             <%= text_field_tag :search, params[:search], placeholder: "商品名" %>
             <%= submit_tag "検索", :name => nil %>
         <% end %>
  </div>

  <% elsif request.path_info.include?('admin') %>
        <% if user_signed_in? %>
             <li class="nav-list-item">
             <span class="glyphicon glyphicon-share" aria-hidden="true"></span>  <%= link_to "logout", destroy_admin_session_path, method: :delete %>
           </li>
        <% else %>
              <li class="nav-list-item"><a href="/admins/sign_in"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>login</a></li>
        <% end %>

          <%= form_tag admin_item_search_path , method: 'get' do %>
             <%= text_field_tag :search, params[:search], placeholder: "商品名" %>
          <%= submit_tag "検索", :name => nil %>
          <% end %>
  <% end %>
     </header>

    <%= yield %>
  </body>
</html>