<div class=“nested-fields”>
    <tr>
        <td><%= f.label '郵便番号' %></td>
        <td><%= f.text_field :delivery_postal_code, size:20 %></td>
    </tr>
    <tr>
        <td><%= f.label '住所' %></td>
        <td><%= f.text_field :delivery_address, size:20 %></td>
    </tr>
    <tr>
        <td><%= f.label '電話番号' %></td>
        <td><%= f.text_field :delivery_phone_number, size:20 %></td>
    </tr>
</div>