<h3>会員登録ページ</h3>

<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-6">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div>
    <p class="registrations-headline">【お名前】</p>
    <div class="field row">
      <div class="form col-lg-2">
        <%= f.label :姓 %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-lg-2">
        <%= f.label :名 %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>
    </div>
  </div>


  <div>
    <div class="field row">
      <div class="col-lg-2">
        <%= f.label :セイ %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :last_name_ruby, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>
    </div>
    <div class="field row">
      <div class="col-lg-2">
        <%= f.label :メイ %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :first_name_ruby, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>
    </div>
  </div>


<hr>

<br>

<div>
  <div class="field row">
    <div class="form col-lg-2">
      <p class="registrations-headline">性別</p>
    </div>
    <div class="col-lg-10">
      <%= f.label :gender, :男性 %>
      <%= f.radio_button :gender, 1 %>
      <%= f.label :gender, :女性 %>
      <%= f.radio_button :gender, 2 %>
    </div>
  </div>
</div>

<hr>

<div>
  <div class="field row">
    <div class="col-lg-2">
      <%= f.label :email %>
    </div>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>
</div>


<div>
    <div class="field row">
      <div class="col-lg-2">
        <%= f.label :電話番号 %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-control" %>
      </div>
    </div>
</div>

<hr>

<div>
  <div class="field row">
    <div class="col-lg-2">
        <p class="registrations-headline">郵便番号</p>
    </div>
    <div class="col-lg-10">
        <input type="text" name="delivery_postal_code" class="form-control">
    </div>
  </div>
    <div class="field row">
    <div class="col-lg-2">
        <p class="registrations-headline">住所</p>
    </div>
    <div class="col-lg-10">
        <input type="text" name="delivery_address" class="form-control" >
    </div>
  </div>
</div>

<hr>

<div class="field row">
    <div class="col-lg-2">
      <%= f.label :password %>
    </div>
    <div class="form col-lg-10">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
            <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以下で入力してください)</em>
    <% end %><br />
    </div>
</div>

<div class="field row">
  <div class="col-lg-2">
    <%= f.label :password_confirmation %>
  </div>
  <div class="form col-lg-10">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    <em>(確認のため、もう一度入力してください)</em>
  </div>
</div>

  <div class="actions">
    <%= f.submit "登録", class:"btn btn-primary"%>
  </div>

<% end %>

<%= render "users/shared/links" %>

</div>

<div class="col-lg-4"></div>

</div>